name = "nrem"
main = ".open-next/worker.js"
compatibility_date = "2025-10-11"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[build]
command = "npm run build:cf"